body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #000;
	margin: 0px;
}

.container {
	max-width: 1100px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.column {
	margin:0 15px 25px;
	background:#121212;
	padding:40px;
}

a{
	text-decoration: none;
	color: #b30086;
}

h1{
	margin: 20px;
	color: #f2f2f2;
}

h2{
	color: white;
	padding: 5px;
	text-decoration: underline 5px solid #b30000;
}

p, li{
	color: white;
	margin: 10px;
	font-size: 13pt;
}

img.main_page_icon {
	object-fit: cover;
	width: 100px;
	height: 100px;
	border: 3pt solid black; 
	margin-bottom: 10px;
}

div.flex_container {
	display: flex;
	flex-wrap: wrap;
  	justify-content: center;
}

div.flex_container > div {
	width: 100px;
	margin: 20px;
	text-align: center;
}

/* CUSTOM ELEMENTS */

stats{
}

attention{
	color: orange
}

passive{
	color: yellow;
	text-decoration: underline;
}

rarityLegendary{
	color: orange;
}

rarityMythic{
	text-decoration: underline;
	color: purple;
}

scaleArmor{
	color: yellow;
}

scaleMR{
	color: violet;
}

active{
	text-decoration: underline;
	color: green;
}

shield{
	color: #00d6d6;
}

physicalDamage{
	color: darkred;
}

magicDamage{
	color: violet;
}

status{
	text-decoration: underline;
	color: #00d6d6;
}

keywordstealth{
	text-decoration: underline;
	color: grey;
}

speed{
	color: yellow;
}

truedamage{
	text-decoration: underline;
}

lifesteal{
	color: red;
}

scalehealth{
	color: pink;
}

scalelethality{
	color: darkred;
}

onhit{
	text-decoration: underline;
	color: orange;
}

healing{
	color: lime;
}

ornnBonus{
	text-decoration: underline 2px solid red;
}