.champImg {
	float: right;
	padding: 10px;
	height: 560px;
}

.display {
	position: absolute;
	margin-right: auto;
}

.spellIcon{
	display: inline-block;
	width: 100%;
	align-items: center;
}

.spellIcon img{
	float: left;
	border: 3pt solid black;
}

.spellIcon h3{
	margin-top: 0 auto; 
	margin-left: 100px;
}

.spell{
	margin-top: 30px;
	padding: 20px;
	border-bottom: 3px solid black;
}

.spellButton {
	width: 50px;
	height: 30px;
	color: white;
	font-size: 13pt;
	cursor: pointer;
	background-color: #111111;
	border: 2px solid black;
	border-radius: 0;
}

h1 {
	font-size: 30pt;
}

h3 {
	margin-left: 20px;
	color: grey;
}

p {
	padding: 5px;
}

table, td, th {
	color: white;
	border: 1px solid gray;
	border-collapse: collapse;
}

tr {
	display: block;
	float: left;
}

th, td {
	display: block;
}